/*
* @Author: Sandesh Bhattarai
* @Date:   2017-01-24 08:22:55
* @Last Modified by:   Sandesh Bhattarai
* @Last Modified time: 2017-01-27 08:23:26
*/
.input-wrap {
    width: 100%;
    background: #ccc;
    margin: 0px 0px 10px 0px;
    float: left;
    padding: 10px;
}
table{
	background: blue;
	border: 5px;
	text-align: center;
}
label {
    width: 200px;
    float: left;
    font-size: larger;
    font-weight: 700;
}

input[type="text"] , input[type="tel"] , input[type="email"] , select, textarea{
    width: 500px;
    height: 26px;
    border-radius: 5px;
    border: none;
}
textarea {
    height: 100px;
}
input.submit,input.reset {
    width: 75px;
    height: 30px;
    border-radius: 25px;
    border: none;
    background: #00ff00;
    color: #ffffff;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}
input.reset{
	background: #ff0000;
}
select {
    height: 85px;
} 