/*
* @Author: Sandesh Bhattarai
* @Date:   2017-01-18 20:28:00
* @Last Modified by:   Sandesh Bhattarai
* @Last Modified time: 2017-01-23 23:22:48
*/

.section-wrapper {
    background: #cccccc;
    width: 100%;
    height: 500px;
}

#section-wrapper {
    background: #cccccc;
    width: 100%;
    height: 500px;
}